.dialogsMessages{
    display:grid;
    grid-template-columns: 2fr 10fr;
}
.dialogItems {
    padding:15px;
}
.dialogItems .active {
    color:white;
}


/* -----------MESSAGES------------- */
.messageItems{
    padding:15px;
}

